body {
    box-sizing: border-box;
    background-color: rgb(60, 60, 169);
}

.containerContact {
    border: 2px solid red;
    background-color: white;
    width: 100%;
    
}

.containerContact h1{
    font-family:monospace;
    color: blue;
    border-bottom: 2px solid gainsboro;
    letter-spacing: 5px;
    margin-left: 10px;
}

.containerContact-card {
    border: 1px solid gray;
    height: 50px;
    width: 60%;
    background-color: rgb(225, 217, 217);
    margin: 30px;
}